﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OrganizationPage.ascx.cs" Inherits="Intranet.DesktopModules.GeneralProject.General.BaseInformation.OrganizationPage" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register TagPrefix="cc1" Namespace="ITC.Library.Controls" Assembly="ITC.Library" %>


<asp:Panel ID="Panel1" runat="server">
    <table style="width: 100%; " class="MainTableOfASCX"  dir="rtl">

        <tr>
            <td dir="rtl" style="width: 100%; " valign="top">
                <asp:Panel ID="pnlButton" runat="server">
                    <table>
                        <tr>
                         
                            <td>
                                <cc1:CustomRadButton ID="btnSave" runat="server" 
                                    CustomeButtonType="Add" onclick="btnSave_Click" >
                                </cc1:CustomRadButton>
                            </td>
                            <td>
                                <cc1:CustomRadButton ID="btnSearch" runat="server" CustomeButtonType="Search" CausesValidation="False"
                                    OnClick="btnSearch_Click">
                                    <icon primaryiconcssclass="rbSearch" />
                                </cc1:CustomRadButton>
                            </td>
                            <td>
                                <cc1:CustomRadButton ID="btnShowAll" runat="server" CustomeButtonType="ShowAll" CausesValidation="False"
                                    OnClick="btnShowAll_Click">
                                    <icon primaryiconcssclass="rbRefresh" />
                                </cc1:CustomRadButton>
                            </td>
                            <td>
                                <cc1:CustomRadButton ID="btnEdit" runat="server" CustomeButtonType="Edit" OnClick="btnEdit_Click">
                                    <icon primaryiconcssclass="rbEdit" />
                                </cc1:CustomRadButton>
                            </td>
                            <td>
                                <cc1:CustomRadButton ID="btnBack" runat="server" CustomeButtonType="Back" OnClick="btnBack_Click">
                                    <icon primaryiconcssclass="rbPrevious" />
                                </cc1:CustomRadButton>
                            </td>
                            <td>
                                
                                <cc1:CustomMessageErrorControl ID="CustomMessageErrorControl" runat="server" />
                                
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </td>
        </tr>
        <tr>
            <td valign="top" >
                <asp:Panel ID="pnlDetail" runat="server" Width="100%">
                    <table>
                        

                                                <tr>
                            <td nowrap="nowrap">
                                <asp:Label runat="server" ID="lblOrganizationPersianTitle">عنوان فارسی سازمان<font color="red">*</font>:</asp:Label>
                            </td>
                            <td>
                                                            <telerik:RadTextBox ID="txtOrganizationPersianTitle" runat="server" Width="300px" 
                                   ></telerik:RadTextBox>
                                <asp:RequiredFieldValidator ID="rfvOrganizationPersianTitle" runat="server" ControlToValidate="txtOrganizationPersianTitle"
                                    ErrorMessage="*"></asp:RequiredFieldValidator>

                            </td>
                        </tr>

                        <tr>
                            <td nowrap="nowrap">
                                <asp:Label runat="server" ID="lblOrganizationEnglishTitle">عنوان انگلیسی سازمان<font color="red">*</font>:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationEnglishTitle" runat="server" Width="300px" 
                                ></telerik:RadTextBox>
                                <asp:RequiredFieldValidator ID="rfvOrganizationEnglishTitle" runat="server" ControlToValidate="txtOrganizationEnglishTitle"
                                    ErrorMessage="*"></asp:RequiredFieldValidator>

                            </td>
                        </tr>
                                                <tr>
                            <td nowrap="nowrap">
                                <asp:Label runat="server" ID="lblOrganizationEconomicCode">شناسه کد اقتصادی:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationEconomicCode" runat="server" 
                                ></telerik:RadTextBox>
        

                            </td>
                        </tr>
                        
                                              <tr>
                            <td>
                                <asp:Label CssClass="LabelCSS" ID="lblprovince" runat="server">استان:</asp:Label>
                            </td>
                            <td>
                                <cc1:CustomRadComboBox ID="cmbprovince" runat="server" AppendDataBoundItems="True" AllowCustomText="True" Filter="Contains" MarkFirstMatch="True"
                                    AutoPostBack="True" CausesValidation="False" OnSelectedIndexChanged="cmbprovince_SelectedIndexChanged">
                                </cc1:CustomRadComboBox>
                            </td>
  
                            </tr>
                            <tr>
                            <td>
                                <asp:Label CssClass="LabelCSS" ID="lblCity" runat="server"> شهر:</asp:Label>
                            </td>
                            <td>
                                <cc1:CustomRadComboBox ID="cmbCity" runat="server" AppendDataBoundItems="True" AllowCustomText="True" Filter="Contains" MarkFirstMatch="True">
                                </cc1:CustomRadComboBox>
                            </td>
  
                        </tr>
                                                <tr>
                            <td>
                                <asp:Label runat="server" ID="lblOrganizationEmail">ایمیل:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationEmail" runat="server" 
                                ></telerik:RadTextBox>                

                            </td>
                        </tr>
                            <tr>
                            <td>
                                <asp:Label runat="server" ID="lblOrganizationTelephoneNo">شماره تلفن:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationTelephoneNo" runat="server" 
                                ></telerik:RadTextBox>                

                            </td>
                        </tr>
                                              
                            <tr>
                            <td>
                                <asp:Label runat="server" ID="lblOrganizationFoxNo">شماره فکس:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationFoxNo" runat="server" 
                                ></telerik:RadTextBox>                

                            </td>
                        </tr>
                                                    <tr>
                            <td>
                                <asp:Label runat="server" ID="lblZipCode">کد پستی:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtZipCode" runat="server" 
                                ></telerik:RadTextBox>                

                            </td>
                        </tr>
                                                                            <tr>
                            <td>
                                <asp:Label runat="server" ID="lblrganizationWebSite">وب سایت:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtrganizationWebSite" runat="server" 
                                ></telerik:RadTextBox>                

                            </td>
                        </tr>
                                                    <tr>
                            <td>
                                <asp:Label runat="server" ID="lblOrganizationAddress">آدرس:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationAddress" runat="server"  Width="300"
                                ></telerik:RadTextBox>                

                            </td>
                        </tr>
                                                                        <tr>
                            <td nowrap="nowrap">
                                <asp:Label runat="server" ID="lblOrganizationDescription">شناسه کد اقتصادی:</asp:Label>
                            </td>
                            <td>
                                <telerik:RadTextBox ID="txtOrganizationDescription" runat="server" 
                                ></telerik:RadTextBox>
        

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    وضیعت رکورد<font color="red">*</font>:</label>
                            </td>
                            <td >
                                <cc1:CustomRadComboBox ID="cmbIsActive" runat="server">
                                    <items>
                                        <telerik:RadComboBoxItem Text=""  Value="" />
                                        <telerik:RadComboBoxItem Text="فعال" Value="True" />
                                        <telerik:RadComboBoxItem Text="غیرفعال" Value="False" />
                                    </items>
                                </cc1:CustomRadComboBox>
                                                                          <asp:RequiredFieldValidator ID="rfvalidatorVisibility" runat="server" ControlToValidate="cmbIsActive"
                                    ErrorMessage="وضیعت رکورد" InitialValue=" ">*</asp:RequiredFieldValidator>
                                
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </td>
        </tr>
        <tr>
            <td valign="top" bgcolor="White">
                <asp:Panel ID="pnlGrid" runat="server">
                    <table width="100%">
                        <tr>
                            <td>
                                <telerik:RadGrid ID="grdOrganization" runat="server" AllowCustomPaging="True"
                                    AllowPaging="True" AllowSorting="True" CellSpacing="0" GridLines="None"
                                    HorizontalAlign="Center"  AutoGenerateColumns="False" 
                                    onitemcommand="grdOrganization_ItemCommand" 
                                    onpageindexchanged="grdOrganization_PageIndexChanged" 
                                    onpagesizechanged="grdOrganization_PageSizeChanged" onsortcommand="grdOrganization_SortCommand" 
                                     >
                                    <HeaderContextMenu CssClass="GridContextMenu GridContextMenu_Office2007">
                                    </HeaderContextMenu>
                                    <MasterTableView DataKeyNames="OrganizationId" Dir="RTL" GroupsDefaultExpanded="False"
                                        NoMasterRecordsText="اطلاعاتی برای نمایش یافت نشد">
                                        <Columns>
                                        
                                                                   <telerik:GridBoundColumn DataField="OrganizationPersianTitle" HeaderText="عنوان فارسی سازمان"
                                                SortExpression="OrganizationPersianTitle">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                              
                                                            <telerik:GridBoundColumn DataField="OrganizationEnglishTitle" HeaderText="عنوان انگلیسی سازمان"
                                                SortExpression="OrganizationEnglishTitle">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                                                                                        <telerik:GridBoundColumn DataField="ProvinceTitlePersian" HeaderText="استان" SortExpression="ProvinceTitlePersian">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                                         <telerik:GridBoundColumn DataField="CityTitlePersian" HeaderText="شهر" SortExpression="CityTitlePersian">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                                             <telerik:GridBoundColumn DataField="OrganizationEconomicCode" HeaderText="شناسه کد اقتصادی"
                                                SortExpression="OrganizationEconomicCode">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                                                      <telerik:GridBoundColumn DataField="OrganizationEmail" HeaderText="ایمیل"
                                                SortExpression="OrganizationEmail">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                              <telerik:GridBoundColumn DataField="OrganizationTelephoneNo" HeaderText="شماره تلفن"
                                                SortExpression="OrganizationTelephoneNo">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                                                                          <telerik:GridBoundColumn DataField="OrganizationFoxNo" HeaderText="شماره فاکس"
                                                SortExpression="OrganizationFoxNo">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
                                              <telerik:GridBoundColumn DataField="ZipCode" HeaderText="کد پستی"
                                                SortExpression="ZipCode">
                                                <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"  />
                                            </telerik:GridBoundColumn>
             
                                            <telerik:GridCheckBoxColumn DataField="IsActive" HeaderText="وضیعت رکورد" SortExpression="IsActive">
                                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                            </telerik:GridCheckBoxColumn>
                                            <telerik:GridTemplateColumn HeaderText="ویرایش" FilterControlAltText="Filter TemplateColumn1 column"
                                                UniqueName="TemplateColumn1">
                                                <ItemTemplate>
                                                    <asp:ImageButton ID="ImgButton" runat="server" CausesValidation="false" CommandArgument='<%#Eval("OrganizationId").ToString() %>'
                                                        CommandName="_MyِEdit" ForeColor="#000066" ImageUrl="../Images/Edit.png" />
                                                </ItemTemplate>
                                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                            </telerik:GridTemplateColumn>
                                            <telerik:GridTemplateColumn HeaderText="حذف" FilterControlAltText="Filter TemplateColumn column"
                                                UniqueName="TemplateColumn">
                                                <ItemTemplate>
                                                    <asp:ImageButton ID="ImgButton1" runat="server" CausesValidation="false" OnClientClick="return confirm('آیا اطلاعات رکورد حذف شود؟');"
                                                        CommandArgument='<%#Eval("OrganizationId").ToString() %>' CommandName="_MyِDelete"
                                                        ForeColor="#000066" ImageUrl="../Images/Delete.png" />
                                                </ItemTemplate>
                                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                            </telerik:GridTemplateColumn>
                                        </Columns>
                                        <CommandItemSettings ExportToPdfText="Export to PDF" />
                                        <RowIndicatorColumn FilterControlAltText="Filter RowIndicator column">
                                        </RowIndicatorColumn>
                                        <ExpandCollapseColumn FilterControlAltText="Filter ExpandColumn column">
                                        </ExpandCollapseColumn>
                                        <EditFormSettings>
                                            <EditColumn FilterControlAltText="Filter EditCommandColumn column">
                                            </EditColumn>
                                        </EditFormSettings>
                                        <PagerStyle  FirstPageToolTip="صفحه اول" HorizontalAlign="Center"
                                            LastPageToolTip="صفحه آخر" NextPagesToolTip="صفحات بعدی" NextPageToolTip="صفحه بعدی"
                                            PagerTextFormat="تغییر صفحه: {4} &amp;nbsp;صفحه &lt;strong&gt;{0}&lt;/strong&gt; از &lt;strong&gt;{1}&lt;/strong&gt;, آیتم &lt;strong&gt;{2}&lt;/strong&gt; به &lt;strong&gt;{3}&lt;/strong&gt; از &lt;strong&gt;{5}&lt;/strong&gt;."
                                            PageSizeLabelText="اندازه صفحه" PrevPagesToolTip="صفحات قبلی" PrevPageToolTip="صفحه قبلی"
                                            VerticalAlign="Middle" />
                                    </MasterTableView>
                                    <FilterMenu EnableImageSprites="False">
                                    </FilterMenu>
                                </telerik:RadGrid>
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </td>
        </tr>
    </table>
</asp:Panel>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
    <ajaxsettings>
        <telerik:AjaxSetting AjaxControlID="btnSave">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlButton" />
                <telerik:AjaxUpdatedControl ControlID="pnlDetail" />
                <telerik:AjaxUpdatedControl ControlID="pnlGrid" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="btnSearch">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlButton" />
                <telerik:AjaxUpdatedControl ControlID="pnlDetail" />
                <telerik:AjaxUpdatedControl ControlID="pnlGrid" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="btnShowAll">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlButton" />
                <telerik:AjaxUpdatedControl ControlID="pnlDetail" />
                <telerik:AjaxUpdatedControl ControlID="pnlGrid" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="btnEdit">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlButton" />
                <telerik:AjaxUpdatedControl ControlID="pnlDetail" />
                <telerik:AjaxUpdatedControl ControlID="pnlGrid" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="btnBack">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlButton" />
                <telerik:AjaxUpdatedControl ControlID="pnlDetail" />
                <telerik:AjaxUpdatedControl ControlID="pnlGrid" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="cmbprovince">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="cmbprovince" />
                <telerik:AjaxUpdatedControl ControlID="cmbCity" 
                    LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="grdOrganization">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlButton" />
                <telerik:AjaxUpdatedControl ControlID="pnlDetail" />
                <telerik:AjaxUpdatedControl ControlID="pnlGrid" 
                    LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
    </ajaxsettings>
</telerik:RadAjaxManagerProxy>
<telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" >
</telerik:RadAjaxLoadingPanel>
